@page "/"
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<button id="home-listen-button">Start</button>

<ol>
    @foreach (var product in products)
    {
        <li>Name: @product.Name</li>
    }
</ol>

<div>
    @caio
</div>

<div id="stream"></div>

<script src="js/event.js"></script>
@code {
    public static string caio = "";
    public static List<Models.Product> products = [];

    [JSInvokable("AddText")]
    public static void AddTextToTextHistory(string text)
    {
        Console.WriteLine("entrou");
        var product = System.Text.Json.JsonSerializer.Deserialize<Models.Product>(text);
        products.Add(product);
        caio = text;
    }
}